# Visual Studio / Rider / JetBrains
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/

# Publish folder (if you have one)
publish/

# Rider
.idea/

# Resharper
_ReSharper*/
*.DotSettings.user

# OS-specific
Thumbs.db
.DS_Store

# NuGet
*.nupkg
*.snupkg
packages/

# Log files
*.log

# Temporary files
*.tmp
